:root{
  --red: #8c0005;
  --orange: #b52c00;

  --gray: #444444;
  --graySecondary: #626262;
  --redBackground: #A63B3F;
  --text: #fcf7d1;
  --hoverColor: #a9a17a;
}

#habilities {
  background-color: var(--graySecondary);
}

.habilities-pd {
  padding-top: 93px;
}

.habilities-pd h2 { 
  text-align: center;
  padding-bottom: 70px;
}

.skills-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap:50px;
  padding-bottom: 70px;
}

.container-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 37px;
  max-width: 55%;
}

.skill-box {
  height: 106px;
  width: 106px;
  background-color: #C4C4C4;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: ease 0.3s;
}

.skill-box:hover {
  background-color: var(--text);
  transform: scale(1.05);
}

.container-description {
  color: var(--text);
  font-family: 'Quando', serif;
  font-size: 20px;
  max-width: 40%;
}

@media (max-width:1200px) {

  .container-description {
      height: 260px;
  }

  #habilities {
      display: flex;
      justify-content: center;
  }

  .skills-description {
      display: flex;
      flex-direction: column-reverse;
      /* width: 535px; */
      margin: 0 auto;
      gap:50px;
      padding-bottom: 70px;
      align-items: center;
  }

  .skills-description p {
      text-align: center;
  }

}
@media (max-width:950px) {
  .container-skills {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 37px;
      max-width: 300px;
  }

  .container-description {
      max-width: 300px;
  }

}

.skill-box .icons-habilities {
  transition: ease-in-out 0.3s;
}

.skill-box:hover .icons-habilities {
  opacity: 0;
}

.skill1{
  background-image: url(../images/html2.svg);
}

.skill2 {
  background-image: url(../images/css2.svg);
}

.skill3 {
  background-image: url(../images/js2.svg);
}

.skill4 {
  background-image: url(../images/typescript2.svg);
}

.skill5 {
  background-image: url(../images/java2.svg);
}

.skill6 {
  background-image: url(../images/firebase2.svg);
}

.skill7 {
  background-image: url(../images/react2.svg);
}

.skill8 {
  background-image: url(../images/node2.svg);
}

.skill9 {
  background-image: url(../images/csharp2.svg);
}

.skill10 {
  background-image: url(../images/git2.svg);
}

.skill11 {
  background-image: url(../images/github2.svg);
}

.skill12 {
  background-image: url(../images/typescript2.svg);
}